/* Universal Styles */

:root {
  --font-color: #303030;
  --red-color: #B40101;
  --main-gray-color: #999999;
  --light-gray-color: #CCCCCC;
  --header-font: 'Roboto', sans-serif;
  --body-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--body-font);
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--font-color);
}

.App {
  box-sizing: border-box;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 960px;
}

h1, h2 {
  font-family: var(--header-font);
  text-transform: uppercase;
}

section {
  margin: 60px 0;
}

.header {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-primary {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.btn-primary:hover:enabled {
  background: linear-gradient(#1a1a1a, #0a0a0a);
  color: #fff;
  text-decoration: none;
}

.btn-primary:active {
  transform: translateY(1px);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

strong {
  color: var(--red-color);
}

/* Nav */

.nav, .toolbar {
  display: flex;
  margin: auto;
  list-style-type: none;
}

.nav {
  margin-bottom: 30px;
  background: #000;
  position: sticky;
  padding: 30px;
  font-size: 1.1em;
  text-align: left;
}

.toolbar {
  background: var(--red-color);
  position: relative;
  padding: 8px;
  font-size: .8em;
  margin: 0;
}

.toolbar li i {
  color: #fff;
  margin-right: 10px;
}

.toolbar-social {
  text-align: right;
}

.nav a, .toolbar a {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 15px;
  color: #fff;
  font-weight: 100;
  list-style-type: none;
}

.active {
  font-weight: bold;
}

/* Home Page */

header.home {
  min-height: 80vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  width: 100%;
  min-height: 200vh;
  z-index: -1;
  /* margin: 0; */
  top: 0;
  left: 0;
  background: url('./img/background_1.jpg') no-repeat;
  background-size: contain;
}

section.home {
  flex-direction: column;
  min-height: 70vh;
}

/* Listings General */

.featured-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.listing-summary {
  margin: 5px;
  border: 1px solid var(--main-gray-color);
}

.list-price {
  font-size: 24px;
}

.list-address {
  font-size: 20px;
}

.list-info {
  font-size: 14px;
  color: var(--main-gray-color);
}

.space-list-summary {
  margin-bottom: 7px;
  padding: 10px;
}

.space-list-summary li {
  margin: 8px 0;
}

/* Buy */

.image-buy {
  width: 100%;
  margin: 40px 0;
  padding: 0;
}

.buyOrSell-container {
  display: flex;
  flex-wrap: wrap;
}

.buyOrSell-intro {
  line-height: 30px;
}

.buy-sections {
  width: 30%;
  margin: 16px;
  box-sizing: border-box;
}

.buy-sections p {
  font-size: 1em;
  font-weight: 100;
  line-height: 30px;
}

.buy-sections i {
  margin-right: 10px;
  color: var(--red-color);
}

.divider {
  text-align: center;
  margin: 70px 0;
}

.buy-CTA, .sell-CTA {
  width: 30%;
  background: var(--red-color);
  color: #fff;
  box-shadow: 0 5px 0 var(--light-gray-color);
  padding: 20px;
  max-height: max-content;
}

.buy-CTA h1, .buy-CTA p,
.sell-CTA h1, .sell-CTA p {
  font-weight: 100;
  line-height: 30px;
}

.buyer-profile, .seller-profile {
  font-weight: 100;
  margin-top: 0;
  margin-bottom:40px;
}

/* Form */

.buyer-form, .seller-form {
  margin-left: 60px; 
}

.flex-form {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}

.flex-form label {
  flex: 1;
  display: flex;
  margin: 10px 0;
  width: 80%;
}

.flex-form label p {
  flex: 1;
  display: block;
}

.flex-form label input {
  flex: 2;
  padding: 5px;
  font-size: 1em;
  color: var(--font-color);
  font-family: var(--body-font);
  font-weight: 400;
}

.flex-form label select {
  flex: 2;
  font-size: 1em;
  background: transparent;
  border-radius: 0;
  border: 1px solid var(--light-gray-color);
  color: var(--font-color);
  font-family: var(--body-font);
  font-weight: 400;
}

.flex-form input[type='submit'] {
  margin: 20px 0;
  background: var(--font-color);
  padding: 10px 20px;
  border: 0;
  font-size: 1em;
  color: #fff;
  font-family: var(--body-font);
  width: 100px;
  display: block;
}

/* Neighborhoods */

.neighborhood-sections {
  font-size: 1em;
  font-weight: 100;
  line-height: 30px;
  width: 40%;
}

.neighborhood-sections li {
  margin-left: 25px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
} 

/* Flash Messages */

.success, .error {
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
}

.no-flash {
  display: none;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}

/* Footer */

.footer {
  background: black;
  padding: 20px;
}

.footer-text {
  color: white;
  font-size: .75em;
  display: block;
  text-align: right;
  padding: 10px;
}
