/* Universal Styles */

:root {
  --font-color: #303030;
  --red-color: #B40101;
  --main-gray-color: #999999;
  --light-gray-color: #CCCCCC;
  --header-font: 'Roboto', sans-serif;
  --body-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--body-font);
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--font-color);
}

.App {
  box-sizing: border-box;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 960px;
}

h1, h2 {
  font-family: var(--header-font);
  text-transform: uppercase;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
} 

.btn-primary {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.btn-primary:hover:enabled {
  background: linear-gradient(#1a1a1a, #0a0a0a);
  color: #fff;
  text-decoration: none;
}

.btn-primary:active {
  transform: translateY(1px);
}

ul {
  padding: 0;
}

/* Nav */

.nav {
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  background: #000;
  text-align: left;
  font-size: .9em;
  position: sticky;
  padding: 20px;
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 15px;
  color: #fff;
  font-weight: 100;
  list-style-type: none;
}

.active {
  font-weight: bold;
}

/* Neighborhoods */

.neighborhood-sections {
  /* display: flex; */
  font-size: 1em;
  font-weight: 100;
  line-height: 30px;
  width: 40%;
  /* box-sizing: border-box; */
}

.neighborhood-sections li {
  margin-left: 25px;
}

/* Flash Messages */

.success, .error {
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
}

.no-flash {
  display: none;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}

/* Footer */

.footer {
  background: var(--light-gray-color);
  padding: 20px;
}

.footer-text {
  font-size: .75em;
  display: block;
  padding: 10px;
}
